player-connection-mode=Listen
player-connection-guid=211445382
player-connection-debug=0
player-connection-project-name=gamenet Final Project
player-connection-ip=192.168.1.2
player-connection-ip=192.168.1.4
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=22c14b2e4518482fa6e3ae4a349e049d
